{% block weasty_money_price_widget %}
    <div class="form-element-weasty-price" id="{{ form.vars.id }}">
        <div class="weasty-price-value-element">
            {{ form_row(form.value) }}
        </div>
        <div class="weasty-price-currency-element">
            {{ form_row(form.currency) }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block weasty_money_currency_rate_widget %}
    {{ form_errors(form) }}
    {{ form_widget(form, form.vars.attr|merge({ 'attr': { 'ng-controller': 'currencyRate', 'data-currency-rate': form.vars.value|json_encode } })) }}
{% endblock %}