{% block weasty_money_price_widget %}
    <div class="form-element-weasty-price" id="{{ form.vars.id }}">
        <div class="weasty-price-value-element">
            {{ form_row(form.value) }}
        </div>
        <div class="weasty-price-currency-element">
            {{ form_row(form.currency) }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block _weasty_money_currency_rate_updatableFromOfficial_row %}
    <div class="form-group">
        <div class="{% if bootstrap_get_style() == 'horizontal' %}col-{{ bootstrap_get_col_size() }}-{{ bootstrap_get_widget_col() }} col-{{ bootstrap_get_col_size() }}-offset-{{ bootstrap_get_label_col() }}{% endif %}">
            {{ 'weasty.money.official_currency_rate.value'|trans([], 'WeastyMoneyBundle') }}:
            {% verbatim %}
                {{ officialCurrencyRate(currencyRate.sourceAlphabeticCode, currencyRate.destinationAlphabeticCode).rate }} {{ currencyRate.destinationAlphabeticCode }}
            {% endverbatim %}
        </div>
    </div>
    {{ block('checkbox_row') }}
{% endblock %}

{% block _weasty_money_currency_rate_finalRate_row %}
    <div class="form-group">
        <div class="{% if bootstrap_get_style() == 'horizontal' %}col-{{ bootstrap_get_col_size() }}-{{ bootstrap_get_widget_col() }} col-{{ bootstrap_get_col_size() }}-offset-{{ bootstrap_get_label_col() }}{% endif %}">
            {{ 'weasty.money.currency_rate.value'|trans([], 'WeastyMoneyBundle') }}:
            {% verbatim %}
                {{ finalCurrencyRateValue() }} {{ currencyRate.destinationAlphabeticCode }}
            {% endverbatim %}
        </div>
    </div>
{% endblock %}