{% extends "WeastyAdminBundle:Default:content/table-view.html.twig" %}

{% set add_use_dialog = true %}
{% set edit_use_dialog = true %}

{% block entities_thead %}
<tr>
    <th>{{ 'weasty.money.admin.currency_rate_source_currency_code'|trans([], 'WeastyMoneyBundle') }}</th>
    <th>{{ 'weasty.money.admin.currency_rate_name'|trans([], 'WeastyMoneyBundle') }}</th>
    <th>{{ 'weasty.money.admin.currency_rate_value'|trans([], 'WeastyMoneyBundle') }}</th>
    <th></th>
</tr>
{% endblock %}

{% block entity_block_row %}
    <tr class="{{ _entity_tr_class|default('') }}">
        {% set currencyRate = entity %}
        {% spaceless %}
            <td>
                <a href="{{ path(edit_route, {'id' : entity.id}) }}" class="primary-link">
                    {{ currencyRate.sourceAlphabeticCode|weasty_currency_name }}
                </a>
            </td>
            <td>
                {{ currencyRate.sourceAlphabeticCode }}/{{ currencyRate.destinationAlphabeticCode }}
            </td>
            <td>
                {{ currencyRate.rate }} {{ currencyRate.destinationAlphabeticCode|weasty_currency_symbol }}
            </td>
            <td>
                {{ block('entity_block_buttons') }}
            </td>
        {% endspaceless %}
    </tr>
{% endblock %}
